<div class="row hidden-md-up">
  <% events.each do |event| %>
    <div class="col-md-4 mb-4 pb-4 border-bottom">
      <%= render partial: 'shared/event_card', locals: { event: event, isDetail: false } %>
    </div>
  <% end %>
</div>
