<% events.each do |event| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= link_to event.event_name, event_path(event.id) %></h5>
      <p class="card-text">開催日：<%= event.date %></p>
      <p class="card-text"><strong>開催者：</strong><%= link_to event.creator.full_name, profile_users_path(event.creator) %></p>
    </div>
  </div>
<% end %>
