<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= link_to 'イベント新規作成', new_event_path, class: 'btn btn-success btn-block' %>
    </div>
    <div class="col-md-9">
      <h1>イベント一覧</h1>
      <div class="col-md-12">
        <% @events.each do |event| %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= link_to event.event_name, event_path(event.id) %></h5>
              <p class="card-text">開催日：<%= event.date %></p>
              <p class="card-text">開催者：<%= link_to event.creator.full_name, my_page_users_path(event.creator) %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
