<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <% if user_signed_in? %>
        <%= link_to 'イベント新規作成', new_event_path, class: 'btn btn-success btn-block' %>
        <%= link_to '参加イベントリスト', myevent_events_path, class: 'btn btn-success btn-block' %>
      <%end%>
    </div>
    <div class="col-md-9">
      <h1>イベント一覧</h1>
      <div class="col-md-12">
        <%= render partial: 'public/events/index', locals: { events: @events }  %>
        <%= paginate @events %>
      </div>
    </div>
  </div>
</div>