<div class="hashtags container">
  <div class="hashtags__wrapper row">
    <div class="col-md-12">
      <div class="hashtags__header">
        <% if @hashtag.present? %>
          <h1 class="hashtags__title">Hashtag: <%= @hashtag.hashtag_name %>の一覧</h1>
        <% else %>
          <h1 class="hashtags__title">Hashtag not found</h1>
        <% end %>
      </div>
      <%= render partial: 'shared/post_card', locals: { post: @post,  isDetail: false } %>
    </div>
  </div>
  <div class="pagination justify-content-center">
    <%= paginate @hashtags %>
  </div>
</div>
