<% @posts.each do |post| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.body %></p>
      <p class="card-text"><small class="text-muted">投稿日: <%= post.created_at.strftime('%Y年%m月%d日') %></small></p>
    </div>
  </div>
<% end %>
