<div class= "container" >
  <div class= "row">
    <h2>Post detail</h2>
  </div>
  <div class= "row">
    <p><%= @post.title %><br>
      <%= @post.body %></p>
  </div>
  <div class="form-group">
    <% if @post = current_user.posts %>
      <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-sm btn-success'%>
      <%= link_to "Destroy", post_path(@post), class:'btn btn-sm btn-danger destroy_book_57911',data: { confirm: '本当に消しますか？' } %>
    <% end %>
  </div>
</div>
