// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.posts {
  &__wrapper {
  }

  &__write {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 20000;
    display: flex;
    flex-direction: column;
  }

  &__new {
    margin-bottom: 16px;
    border-radius: 50%;
    background-color: #593fbf;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    transition: background-color 800ms ease-in-out;

    &:hover {
      background-color: #654dc4;
    }

    svg {
      font-size: 1.4rem;

    }

    path {
      fill: white;
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__title {
    display: block;
    color: #593fbf;
    font-weight: 700;
    font-size: 48px;
  }

  &__filters {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__sort {
    display: flex;

    a {
      font-size: 12px;
      color: #666666;
      box-sizing: border-box;
      position: relative;
      padding-right: 8px;
      margin-right: 8px;

      &.active {
        text-decoration: underline;
      }

      &:not(:last-of-type) {
        &::after {
          position: absolute;
          top: 50%;
          right: 0;
          content: '';
          width: 1px;
          height: 50%;
          transform: translateY(-50%);
          background-color: #727272;
        }
      }
    }
  }

  &__links {
    a {
      background-color: #593fbf;
      color: #ffffff;
      border-radius: 10px;
      padding: 8px 16px;
      box-sizing: border-box;
      text-decoration: none;
    }
  }

  &__list {
    width: 100%;
  }
}

.post-form {
  label {
    font-size: 16px;
    font-weight: 700;
  }
  &__title {
  }

  &__body {
  }

  &__hash {
  }

  &__thumbnail {
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
  }

  &__submit {
    // reset default css
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font: inherit;
    outline: none;

    // custom css
    border-radius: 0.25rem;
    background-color: #593fbf;
    color: #ffffff;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 8px 16px 8px 0;

    &:hover {
      color: #ffffff;
    }
  }

  &__draft {
    // reset default css
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font: inherit;
    outline: none;

    // custom css
    border-radius: 0.25rem;
    background-color: #654dc4;
    color: #ffffff;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 8px 0;

    &:hover {
      color: #ffffff;
    }
  }
}