.event-card {
  border: none;

  &__body {
    box-sizing: border-box;
    padding: 12px;

  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    > img {
      border-radius: 10px;
      border: 1px solid #eaeaea;
      width: 100%;
      height: auto;
      min-height: 160px;
      max-height: 160px;
      object-fit: cover;
      margin-bottom: 16px;

      &.detail {
        min-height: 480px;
        max-height: 480px;
      }
    }
  }

  &__date {
    margin: 0 0 4px 0;
    display: flex;
    justify-content: flex-end;

    > svg {
      height: 32px;
      line-height: 32px;
      font-size: 18px;
      color: #000000;
      margin-right: 8px;
    }
    > span {
      height: 32px;
      line-height: 32px;
      font-size: 16px;
      color: #000000;
    }
    &.list {
      > svg {
        height: 16px;
        line-height: 12px;
        font-size: 14px;
        color: #000000;
        margin-right: 8px;
      }
      > span {
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        color: #000000;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }

  &__header-top {
    display: flex;
    margin-bottom: 4px;

    &.list {
      flex-direction: column;

      .event-card__type {
        max-width: fit-content;
        font-size: 10px;
        line-height: 24px;
        height: 24px;
      }
    }
  }

  &__type {
    font-size: 12px;
    line-height: 32px;
    height: 32px;

    margin-right: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0 8px;
    color: #ffffff;

    &--online {
      background:  rgba(89, 63, 191, 1);
    }
    &--offline {
      background: linear-gradient(
        90deg,
        rgba(101, 77, 196, 1) 0%,
        rgba(89, 63, 191, 1) 25%,
        rgba(155, 64, 166, 1) 100%
      );
    }
  }

  &__title {
    margin: 0;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    line-height: 32px;
    height: 32px;
    flex: 1;

    &.list {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  &__header-bottom {
    display: flex;
    margin-bottom: 8px;
  }

  &__author {
    font-size: 14px;
    margin: 0;
    color: #727272;
    margin-right: 8px;
    line-height: 18px;
    height: 18px;
  }

  &__createdAt {
    font-size: 10px;
    margin: 0;
    text-align: right;
    line-height: 18px;
    height: 18px;
  }

  &__introduction{
    font-size: 14px;
    margin-bottom: 8px;
    color: #000000;
    line-height: 1.5;
    margin: 0;
    white-space: pre-wrap;

    &.list {
      height: 42px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__url {
    font-size: 14px;
    margin: 4px 0;
    color: #000000;
  }

  &__gmap {
    box-sizing: border-box;
    padding: 32px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }

  &__address {
    font-size: 14px;
  }

  &__participants {
    display: flex;
    align-items: center;
  }

  &__avatar-group {
    display: flex;
    margin-right: 8px;
  }

  &__avatar {
    display: block;
    overflow: hidden;
    border-radius: 50%;
    background-color: #eaeaea;
    border: 1px solid #d9d9d9ff;
    width: 36px;
    height: 36px;

    &:not(:first-of-type) {
      margin-left: -8px;
    }

    &:nth-of-type(1) {
      z-index: 3;
    }

    &:nth-of-type(2) {
      z-index: 2;
    }

    &:nth-of-type(2) {
      z-index: 1;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__count {
    font-size: 12px;
    margin: 0;
    color: #424242;
  }
}

.event-detail {
  &__button-wrapper {
    margin: 32px 0;
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;

    &:not(:last-of-type) {
      margin-right: 16px;
    }

    &:hover {
      color: #ffffff;
    }

    &--participated {
      background-color: #666666;
      color: #ffffff;
    }

    &--remove {
      background-color: #dc3545;
      color: #ffffff;
    }

    &--join {
      background-color: #593fbf;
      color: #ffffff;
    }
  }
}

.event-attendee-card {
  &__user-wrapper {
    margin: 32px 0;
  }

  &__attendee-title {
    margin-bottom: 16px;
  }

  &__user {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    margin-bottom: 16px;

    &:not(:last-of-type) {
      border-bottom: 1px solid #eaeaea;

    }
  }

  &__avatar {
    display: block;
    border-radius: 50%;
    background-color: #eaeaea;
    border: 1px solid #d9d9d9ff;
    width: 36px;
    height: 36px;
    margin-right: 8px;
  }

  &__name {
  }
}
