.post-card {
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.2s ease-out;

  &__author {
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &__avatar {
    border-radius: 50%;
    background-color: #eaeaea;
    border: 1px solid #d9d9d9ff;
    width: 22px;
    height: 22px;
    margin-right: 8px;
  }

  &__username {
    font-size: 12px;
    color: #727272;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  &__header {
    position: relative;
    margin: 0;

    margin-bottom: 8px;
  }

  &__contents {
    flex: 1;
    margin-right: 48px;
    margin-bottom: 16px;


  }

  &__image {
    display: block;
    width: 120px;
    height: 120px;
    object-fit: cover;
    order: 1;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 767.98px) {
    &__image {
      width: 90px;
      height: 90px;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    max-height: 56px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;

    &.detail {
      font-size: 42px;
    }

    a {
      color: inherit;
      text-decoration: none;
      transition: color 0.2s ease-out;

      &:hover {
        color: #593fbf;
      }
    }
  }

  &__body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__hashtag-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  &__hashtag {
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #593fbf;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    > a {
      padding: 4px 8px;
      color: #ffffff;
      font-size: 11px;
    }
  }

  &__stats {
    font-size: 14px;
    color: #999;
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      display: inline-block;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__likes {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__like {
    color: #999;
    font-size: 14px;

    &--active {
      color: red;
    }
  }
}

.post-detail {
  &__author-buttons {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    margin-bottom: 160px;
  }

  &__comment-delete {
    margin-bottom: 16px;
    border-radius: 50%;
    background-color: #dc3545;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    transition: background-color 800ms ease-in-out;

    svg {
      font-size: 1.2rem;
    }

    path {
      fill: white;
    }
  }

  &__comment-edit {
    margin-bottom: 16px;
    border-radius: 50%;
    background-color: #654dc4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    transition: background-color 800ms ease-in-out;

    svg {
      font-size: 1.2rem;
    }

    path {
      fill: white;
    }
  }

  &__comment-form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }

  &__comment-submit {
    margin-top: 8px;
    color: #ffffff;
    background-color: #593fbf !important;
    font-size: 12px;

    &:hover {
      color: #ffffff;
    }
  }

  &__comment-wrapper {
    display: flex;
    flex-direction: column;
    margin: 32px 0;

    > * {
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #eaeaea !important;
    }
  }
}

.comment-card {
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.2s ease-out;

  &__author {
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &__avatar {
    border-radius: 50%;
    background-color: #eaeaea;
    border: 1px solid #d9d9d9ff;
    width: 22px;
    height: 22px;
    margin-right: 8px;
  }

  &__username {
    font-size: 12px;
    color: #727272;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  &__header {
    position: relative;
    margin: 0;

    margin-bottom: 8px;
  }

  &__contents {
    flex: 1;
    margin-right: 48px;
    margin-bottom: 16px;
  }

  &__image {
    display: block;
    width: 120px;
    height: 120px;
    object-fit: cover;
    order: 1;
    border-radius: 10px;
  }

  @media (max-width: 767.98px) {
    &__image {
      width: 60px;
      height: 60px;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    max-height: 56px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;

    a {
      color: inherit;
      text-decoration: none;
      transition: color 0.2s ease-out;

      &:hover {
        color: #593fbf;
      }
    }
  }

  &__body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__hashtag-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  &__hashtag {
    margin-right: 4px;
    background-color: #593fbf;
    border-radius: 4px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 4px 8px;
    font-size: 11px;
  }

  &__stats {
    font-size: 14px;
    color: #999;
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      display: inline-block;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
