<div class='container mt-5'>
  <div class='row'>
    <h3 class="page-name">My page</h3>
  </div>
  <%= render partial: 'public/users/shared/profile-card', locals: { user: @user } %>
  <div class='row'>
    <strong>Introduction</strong>
    <%= user.introduction %>
  </p>
</div>
<div class="button">
  <%= link_to "Edit profile", information_edit_users_path(user), class: "btn-sm btn-success" %>
</div>
</div>
