<div class="relation container">
  <h1>フォロー一覧</h1>
  <% if @following_users.any? %>
    <div class="relation__user-wrapper">
      <% @following_users.each do |user| %>
        <%= render partial: 'public/users/shared/profile-simple-card', locals: { user: user } %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center"><strong>follow userがいません。</strong></p>
  <% end %>
</div>
