<div class='container mt-5'>
  <div class='row'>
    <h3 class="page-name">My page</h3>
  </div>
  <div class='row'>
    <p>
      <strong>Name</strong><br>
      <%= @user.first_name %><%= @user.last_name %>
    </p>
  </div>
  <div class='row'>
    <strong>Introduction</strong>
    <%= @user.introduction %>
  </p>
</div>
<div class="button">
  <%= link_to "Edit profile", information_edit_users_path(@user), class: "btn-sm btn-success" %>
</div>
</div>
