<div class="open-btn">
  <i class="fas fa-search"></i>
  <i class="fas fa-times"></i>
</div>
<div id="search-wrap"></div>
<form role="search" methot="get" id="searchform" action="">
  <input type="text" value="" name="" id="search-text" placeholder="search">
  <input type="submit" id="searchsubmit" value="">
</form>
